<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_auto_play_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{208,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,88}}</string>
                <key>sourceSize</key>
                <string>{208,88}</string>
            </dict>
            <key>btn_auto_play_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,502},{135,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,39}}</string>
                <key>sourceSize</key>
                <string>{135,39}</string>
            </dict>
            <key>btn_cancelAutodeposit_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,202},{175,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,36}}</string>
                <key>sourceSize</key>
                <string>{175,36}</string>
            </dict>
            <key>btn_canceldeposit_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{208,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,88}}</string>
                <key>sourceSize</key>
                <string>{208,88}</string>
            </dict>
            <key>btn_notecard.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,509},{128,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,46}}</string>
                <key>sourceSize</key>
                <string>{128,46}</string>
            </dict>
            <key>btn_word_buchu_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,849},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>btn_word_buchu_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,785},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>btn_word_bujiabei_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,851},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>btn_word_buqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,804},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>btn_word_chongxuan_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,761},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>btn_word_chongxuan_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,663},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>btn_word_chupai_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,757},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>btn_word_chupai_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,802},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>btn_word_fen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,755},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>btn_word_fen1_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,710},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>btn_word_fen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,663},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>btn_word_fen2_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,639},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>btn_word_fen3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,708},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>btn_word_fen3_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,616},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>btn_word_jiabei_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,569},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>btn_word_jiaodizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,522},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>btn_word_mingpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,475},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>btn_word_nocall.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,509},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>btn_word_nocall_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,62},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>btn_word_qiangdizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,353},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>btn_word_queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,353},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>btn_word_quxiaotuoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,543},{158,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,45}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>btn_word_tishi_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,353},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>btn_word_tishi_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,344},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>btn_word_tuijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,369},{131,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,45}}</string>
                <key>sourceSize</key>
                <string>{131,45}</string>
            </dict>
            <key>btn_yaobuqi_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,383},{158,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,45}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>ddz_table_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,760},{87,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,58}}</string>
                <key>sourceSize</key>
                <string>{87,58}</string>
            </dict>
            <key>erdou_chat_nomarl.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,186},{165,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,48}}</string>
                <key>sourceSize</key>
                <string>{165,48}</string>
            </dict>
            <key>erdou_chat_none.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,186},{165,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,48}}</string>
                <key>sourceSize</key>
                <string>{165,48}</string>
            </dict>
            <key>erdou_chat_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,216},{165,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,48}}</string>
                <key>sourceSize</key>
                <string>{165,48}</string>
            </dict>
            <key>erdou_deposite_none.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{165,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,58}}</string>
                <key>sourceSize</key>
                <string>{165,58}</string>
            </dict>
            <key>erdou_deposite_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,202},{165,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,58}}</string>
                <key>sourceSize</key>
                <string>{165,58}</string>
            </dict>
            <key>erdou_deposite_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,202},{165,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,58}}</string>
                <key>sourceSize</key>
                <string>{165,58}</string>
            </dict>
            <key>erdou_exit_none.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{210,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,78}}</string>
                <key>sourceSize</key>
                <string>{210,78}</string>
            </dict>
            <key>erdou_exit_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,216},{210,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,78}}</string>
                <key>sourceSize</key>
                <string>{210,78}</string>
            </dict>
            <key>erdou_exit_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,216},{210,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,78}}</string>
                <key>sourceSize</key>
                <string>{210,78}</string>
            </dict>
            <key>erdou_setting_none.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{210,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,78}}</string>
                <key>sourceSize</key>
                <string>{210,78}</string>
            </dict>
            <key>erdou_setting_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{210,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,78}}</string>
                <key>sourceSize</key>
                <string>{210,78}</string>
            </dict>
            <key>erdou_setting_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{210,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,78}}</string>
                <key>sourceSize</key>
                <string>{210,78}</string>
            </dict>
            <key>table_animation_finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,639},{73,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,67}}</string>
                <key>sourceSize</key>
                <string>{73,67}</string>
            </dict>
            <key>table_animation_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{295,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,32}}</string>
                <key>sourceSize</key>
                <string>{295,32}</string>
            </dict>
            <key>table_animation_white_ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>table_btn_bg_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,186},{156,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,60}}</string>
                <key>sourceSize</key>
                <string>{156,60}</string>
            </dict>
            <key>table_btn_bg_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,124},{156,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,60}}</string>
                <key>sourceSize</key>
                <string>{156,60}</string>
            </dict>
            <key>table_btn_bg_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,62},{156,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,60}}</string>
                <key>sourceSize</key>
                <string>{156,60}</string>
            </dict>
            <key>table_btn_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,379},{128,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,46}}</string>
                <key>sourceSize</key>
                <string>{128,46}</string>
            </dict>
            <key>table_btn_gray_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,594},{164,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,88}}</string>
                <key>sourceSize</key>
                <string>{164,88}</string>
            </dict>
            <key>table_btn_green_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,428},{164,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,88}}</string>
                <key>sourceSize</key>
                <string>{164,88}</string>
            </dict>
            <key>table_btn_iwantcomplain.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,184},{105,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,28}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>table_btn_red_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,62},{156,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,60}}</string>
                <key>sourceSize</key>
                <string>{156,60}</string>
            </dict>
            <key>table_btn_yellow_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,36},{164,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,88}}</string>
                <key>sourceSize</key>
                <string>{164,88}</string>
            </dict>
            <key>table_direct_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>table_direct_recharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,820},{63,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>table_direct_recharge_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,291},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tableoperatebtn.png</string>
            <key>size</key>
            <string>{512,910}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f8dd9fca1505689af840a700392d2f2:1/1$</string>
            <key>textureFileName</key>
            <string>tableoperatebtn.png</string>
        </dict>
    </dict>
</plist>
