<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ddz_result_base_word_lose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,96}</string>
                <key>spriteSourceSize</key>
                <string>{358,96}</string>
                <key>textureRect</key>
                <string>{{1265,336},{358,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_result_base_word_streakwin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,104}</string>
                <key>spriteSourceSize</key>
                <string>{208,104}</string>
                <key>textureRect</key>
                <string>{{1625,336},{208,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_result_base_word_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,105}</string>
                <key>spriteSourceSize</key>
                <string>{208,105}</string>
                <key>textureRect</key>
                <string>{{1158,162},{208,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_result_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,184}</string>
                <key>spriteSourceSize</key>
                <string>{385,184}</string>
                <key>textureRect</key>
                <string>{{1315,150},{385,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_result_light_lose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{668,159}</string>
                <key>spriteSourceSize</key>
                <string>{668,159}</string>
                <key>textureRect</key>
                <string>{{645,1},{668,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_result_light_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{542,147}</string>
                <key>spriteSourceSize</key>
                <string>{542,147}</string>
                <key>textureRect</key>
                <string>{{1315,1},{542,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_result_newer_task_img_finished.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,169}</string>
                <key>spriteSourceSize</key>
                <string>{168,169}</string>
                <key>textureRect</key>
                <string>{{1702,150},{168,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_wins_bg_little.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{642,453}</string>
                <key>spriteSourceSize</key>
                <string>{642,453}</string>
                <key>textureRect</key>
                <string>{{1,1},{642,453}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_wins_bg_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,285}</string>
                <key>spriteSourceSize</key>
                <string>{511,285}</string>
                <key>textureRect</key>
                <string>{{645,162},{511,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>end.png</string>
            <key>size</key>
            <string>{1871,455}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7aa585852231ef23237e2430d2d62962:163851ba2d276eb00fdc48c73c1759c5:7bd524505d177bc270c83e169a67ece3$</string>
            <key>textureFileName</key>
            <string>end.png</string>
        </dict>
    </dict>
</plist>
