<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bh_particle_o.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>btn_result.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,38},{78,80}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{78,80}}</string>
                <key>sourceSize</key>
                <string>{98,92}</string>
            </dict>
            <key>buchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,332},{92,51}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,51}}</string>
                <key>sourceSize</key>
                <string>{94,53}</string>
            </dict>
            <key>buqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,200},{94,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,51}}</string>
                <key>sourceSize</key>
                <string>{94,53}</string>
            </dict>
            <key>chat_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,335},{117,86}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{117,86}}</string>
                <key>sourceSize</key>
                <string>{121,90}</string>
            </dict>
            <key>ddz_add_chip_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,533},{192,59}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{192,59}}</string>
                <key>sourceSize</key>
                <string>{196,59}</string>
            </dict>
            <key>ddz_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,533},{53,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,46}}</string>
                <key>sourceSize</key>
                <string>{53,46}</string>
            </dict>
            <key>ddz_deposit_robot.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,390},{91,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,94}}</string>
                <key>sourceSize</key>
                <string>{91,94}</string>
            </dict>
            <key>ddz_deposit_robot_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,448},{36,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,19}}</string>
                <key>sourceSize</key>
                <string>{36,19}</string>
            </dict>
            <key>ddz_emo_cell_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,541},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>ddz_emo_countdown_cover.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,253},{78,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>ddz_emo_send10_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,356},{120,32}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{120,32}}</string>
                <key>sourceSize</key>
                <string>{140,46}</string>
            </dict>
            <key>ddz_emo_send10_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,412},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>ddz_erdou_center_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{440,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,50}}</string>
                <key>sourceSize</key>
                <string>{440,50}</string>
            </dict>
            <key>ddz_erdou_left_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,232},{178,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,145}}</string>
                <key>sourceSize</key>
                <string>{178,145}</string>
            </dict>
            <key>ddz_extra_card_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{400,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,77}}</string>
                <key>sourceSize</key>
                <string>{400,77}</string>
            </dict>
            <key>ddz_match_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,232},{67,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,33}}</string>
                <key>sourceSize</key>
                <string>{67,33}</string>
            </dict>
            <key>ddz_minus_chip_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,433},{196,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,59}}</string>
                <key>sourceSize</key>
                <string>{196,59}</string>
            </dict>
            <key>ddz_notecard_number_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,571},{9,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,20}}</string>
                <key>sourceSize</key>
                <string>{9,20}</string>
            </dict>
            <key>ddz_notecard_number_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,207},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>ddz_notecard_number_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,456},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>ddz_notecard_number_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,494},{16,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,21}}</string>
                <key>sourceSize</key>
                <string>{16,21}</string>
            </dict>
            <key>ddz_player_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,120},{104,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,48}}</string>
                <key>sourceSize</key>
                <string>{104,48}</string>
            </dict>
            <key>ddz_player_info_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,170},{104,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,28}}</string>
                <key>sourceSize</key>
                <string>{104,28}</string>
            </dict>
            <key>ddz_power_level_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,599},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>ddz_power_level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,581},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>ddz_power_level_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,615},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>ddz_power_level_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,615},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>ddz_power_level_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,515},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>ddz_table_baojing.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,385},{60,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,66}}</string>
                <key>sourceSize</key>
                <string>{60,66}</string>
            </dict>
            <key>ddz_table_baojing01.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,359},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>ddz_table_bg_led.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{514,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,45}}</string>
                <key>sourceSize</key>
                <string>{514,45}</string>
            </dict>
            <key>ddz_table_bg_led_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,453},{38,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>ddz_table_bottom_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,133},{27,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,19}}</string>
                <key>sourceSize</key>
                <string>{27,19}</string>
            </dict>
            <key>ddz_table_changeskin_tip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,207},{238,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,70}}</string>
                <key>sourceSize</key>
                <string>{238,70}</string>
            </dict>
            <key>ddz_table_changeskin_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,571},{176,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,23}}</string>
                <key>sourceSize</key>
                <string>{176,23}</string>
            </dict>
            <key>ddz_table_jiabei_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,269},{137,50}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{137,50}}</string>
                <key>sourceSize</key>
                <string>{141,54}</string>
            </dict>
            <key>ddz_table_jiabei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,2},{95,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,54}}</string>
                <key>sourceSize</key>
                <string>{95,54}</string>
            </dict>
            <key>ddz_table_naozhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,390},{88,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,109}}</string>
                <key>sourceSize</key>
                <string>{88,109}</string>
            </dict>
            <key>ddz_table_naozhong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,615},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>ddz_table_nodecard_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,423},{113,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,116}}</string>
                <key>sourceSize</key>
                <string>{113,116}</string>
            </dict>
            <key>ddz_table_play_card_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{149,207}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{149,207}}</string>
                <key>sourceSize</key>
                <string>{151,209}</string>
            </dict>
            <key>ddz_table_wait_jiabei_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{467,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,50}}</string>
                <key>sourceSize</key>
                <string>{467,50}</string>
            </dict>
            <key>ddz_table_wait_jiabei_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,133},{286,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,25}}</string>
                <key>sourceSize</key>
                <string>{286,25}</string>
            </dict>
            <key>ddz_time_power_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,321},{123,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,33}}</string>
                <key>sourceSize</key>
                <string>{123,33}</string>
            </dict>
            <key>ddz_tip_red_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,453},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>ddzsingle_notecard_number_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,571},{8,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{8,20}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>ddzsingle_notecard_number_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,533},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{14,20}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>ddzsingle_notecard_number_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,581},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{14,20}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>ddzsingle_notecard_number_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,517},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,20}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>deposit.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,318},{73,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,39}}</string>
                <key>sourceSize</key>
                <string>{73,39}</string>
            </dict>
            <key>erdou_left_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,501},{96,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,30}}</string>
                <key>sourceSize</key>
                <string>{96,30}</string>
            </dict>
            <key>fen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,421},{70,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,54}}</string>
                <key>sourceSize</key>
                <string>{70,54}</string>
            </dict>
            <key>fen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,571},{78,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,54}}</string>
                <key>sourceSize</key>
                <string>{78,54}</string>
            </dict>
            <key>fen3.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,515},{78,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,54}}</string>
                <key>sourceSize</key>
                <string>{78,54}</string>
            </dict>
            <key>head_m_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,58},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>illegal.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,160},{268,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,45}}</string>
                <key>sourceSize</key>
                <string>{268,45}</string>
            </dict>
            <key>jiaodizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,279},{140,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,54}}</string>
                <key>sourceSize</key>
                <string>{140,54}</string>
            </dict>
            <key>left_cards_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,64},{42,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,54}}</string>
                <key>sourceSize</key>
                <string>{42,54}</string>
            </dict>
            <key>nocall.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,160},{92,51}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,51}}</string>
                <key>sourceSize</key>
                <string>{94,53}</string>
            </dict>
            <key>nocard.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,64},{308,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,46}}</string>
                <key>sourceSize</key>
                <string>{308,46}</string>
            </dict>
            <key>qiangdizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,213},{142,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,54}}</string>
                <key>sourceSize</key>
                <string>{142,54}</string>
            </dict>
            <key>settin_bar_slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,366},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>setting_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,38},{313,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,24}}</string>
                <key>sourceSize</key>
                <string>{313,24}</string>
            </dict>
            <key>setting_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,112},{311,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,19}}</string>
                <key>sourceSize</key>
                <string>{311,19}</string>
            </dict>
            <key>setting_switch_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,589},{35,34}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{35,34}}</string>
                <key>sourceSize</key>
                <string>{47,44}</string>
            </dict>
            <key>setting_switch_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,589},{39,34}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{39,34}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>setting_word_changeskin_cd.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,596},{175,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,22}}</string>
                <key>sourceSize</key>
                <string>{175,22}</string>
            </dict>
            <key>show_cards_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,571},{117,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,61}}</string>
                <key>sourceSize</key>
                <string>{117,61}</string>
            </dict>
            <key>smiliebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,541},{94,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,91}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>table_bomb_cnt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,379},{187,75}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{187,75}}</string>
                <key>sourceSize</key>
                <string>{191,75}</string>
            </dict>
            <key>table_bomb_cnt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,494},{189,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{189,75}}</string>
                <key>sourceSize</key>
                <string>{191,75}</string>
            </dict>
            <key>table_bomb_cnt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,356},{189,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{189,75}}</string>
                <key>sourceSize</key>
                <string>{191,75}</string>
            </dict>
            <key>table_bomb_cnt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,279},{191,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,75}}</string>
                <key>sourceSize</key>
                <string>{191,75}</string>
            </dict>
            <key>table_bomb_cnt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,456},{191,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,75}}</string>
                <key>sourceSize</key>
                <string>{191,75}</string>
            </dict>
            <key>table_cardnote_use_btn_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,207},{109,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,29}}</string>
                <key>sourceSize</key>
                <string>{109,29}</string>
            </dict>
            <key>table_coin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,594},{203,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,34}}</string>
                <key>sourceSize</key>
                <string>{203,34}</string>
            </dict>
            <key>table_task_baoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,533},{94,80}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{94,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>table_task_baoxiang_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,238},{73,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,78}}</string>
                <key>sourceSize</key>
                <string>{73,78}</string>
            </dict>
            <key>table_task_baoxiang_close01.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,486},{85,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,27}}</string>
                <key>sourceSize</key>
                <string>{85,27}</string>
            </dict>
            <key>table_task_greatmaster_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{393,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,34}}</string>
                <key>sourceSize</key>
                <string>{393,34}</string>
            </dict>
            <key>table_task_greatmaster_progress_temp.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,356},{17,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,30}}</string>
                <key>sourceSize</key>
                <string>{17,30}</string>
            </dict>
            <key>table_task_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,485},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>tbl_fanbei_flag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,477},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,54}</string>
            </dict>
            <key>tbl_fanbei_flag_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,533},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,54}</string>
            </dict>
            <key>tbl_fanbei_flag_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,477},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,54}</string>
            </dict>
            <key>warn_left_card_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,302},{52,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,62}}</string>
                <key>sourceSize</key>
                <string>{52,62}</string>
            </dict>
            <key>warn_left_card_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,238},{52,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,62}}</string>
                <key>sourceSize</key>
                <string>{52,62}</string>
            </dict>
            <key>zhunbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,154},{94,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,51}}</string>
                <key>sourceSize</key>
                <string>{94,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tableother.png</string>
            <key>size</key>
            <string>{1016,634}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34afb7e5ebfcbaf191c00ca5f4cb647b:1/1$</string>
            <key>textureFileName</key>
            <string>tableother.png</string>
        </dict>
    </dict>
</plist>
