<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>images/poker/Card_10_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,627},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>images/poker/Card_10_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,627},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>images/poker/Card_2_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,627},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>images/poker/Card_2_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,627},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>images/poker/Card_3_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,627},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>images/poker/Card_3_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,627},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>images/poker/Card_4_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,627},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>images/poker/Card_4_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,625},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>images/poker/Card_5_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,625},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>images/poker/Card_5_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,581},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>images/poker/Card_6_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,600},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>images/poker/Card_6_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,600},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>images/poker/Card_7_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,581},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>images/poker/Card_7_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,554},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>images/poker/Card_8_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,554},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>images/poker/Card_8_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,625},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>images/poker/Card_9_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,625},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>images/poker/Card_9_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,579},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>images/poker/Card_A_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,533},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>images/poker/Card_A_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,487},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>images/poker/Card_Duke_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{118,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,156}}</string>
                <key>sourceSize</key>
                <string>{118,156}</string>
            </dict>
            <key>images/poker/Card_Duke_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,372},{118,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,160}}</string>
                <key>sourceSize</key>
                <string>{118,160}</string>
            </dict>
            <key>images/poker/Card_Flower_black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,554},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>images/poker/Card_JOKER_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,483},{14,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,109}}</string>
                <key>sourceSize</key>
                <string>{14,109}</string>
            </dict>
            <key>images/poker/Card_JOKER_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,372},{14,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,109}}</string>
                <key>sourceSize</key>
                <string>{14,109}</string>
            </dict>
            <key>images/poker/Card_J_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,192},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>images/poker/Card_J_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,146},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>images/poker/Card_K_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,275},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>images/poker/Card_K_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,312},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>images/poker/Card_King_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{118,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,144}}</string>
                <key>sourceSize</key>
                <string>{118,144}</string>
            </dict>
            <key>images/poker/Card_King_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{118,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,142}}</string>
                <key>sourceSize</key>
                <string>{118,142}</string>
            </dict>
            <key>images/poker/Card_Q_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,312},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>images/poker/Card_Q_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,312},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>images/poker/Card_Square-piece_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,275},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>images/poker/Card_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{128,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,167}}</string>
                <key>sourceSize</key>
                <string>{128,167}</string>
            </dict>
            <key>images/poker/Card_clown_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,358},{107,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,127}}</string>
                <key>sourceSize</key>
                <string>{107,127}</string>
            </dict>
            <key>images/poker/Card_clown_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,146},{107,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,127}}</string>
                <key>sourceSize</key>
                <string>{107,127}</string>
            </dict>
            <key>images/poker/Card_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,184}}</string>
                <key>sourceSize</key>
                <string>{140,184}</string>
            </dict>
            <key>images/poker/Card_front_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,184}}</string>
                <key>sourceSize</key>
                <string>{140,184}</string>
            </dict>
            <key>images/poker/Card_front_vip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,370},{138,182}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{138,182}}</string>
                <key>sourceSize</key>
                <string>{140,184}</string>
            </dict>
            <key>images/poker/Card_front_vip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,370},{138,182}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{138,182}}</string>
                <key>sourceSize</key>
                <string>{140,184}</string>
            </dict>
            <key>images/poker/Card_front_vip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,188},{138,182}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{138,182}}</string>
                <key>sourceSize</key>
                <string>{140,184}</string>
            </dict>
            <key>images/poker/Card_front_vip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{138,182}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{138,182}}</string>
                <key>sourceSize</key>
                <string>{140,184}</string>
            </dict>
            <key>images/poker/Card_front_vip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,186},{138,182}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{138,182}}</string>
                <key>sourceSize</key>
                <string>{140,184}</string>
            </dict>
            <key>images/poker/Card_front_vip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{138,182}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{138,182}}</string>
                <key>sourceSize</key>
                <string>{140,184}</string>
            </dict>
            <key>images/poker/Card_hearts_black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,554},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>images/poker/Card_hearts_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,554},{75,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,69}}</string>
                <key>sourceSize</key>
                <string>{75,69}</string>
            </dict>
            <key>images/poker/Card_queen_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,160},{118,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,150}}</string>
                <key>sourceSize</key>
                <string>{118,150}</string>
            </dict>
            <key>images/poker/Card_queen_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,534},{118,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,150}}</string>
                <key>sourceSize</key>
                <string>{118,150}</string>
            </dict>
            <key>images/poker/card_back_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,275},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>images/poker/dizhubiaoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,487},{91,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,92}}</string>
                <key>sourceSize</key>
                <string>{91,92}</string>
            </dict>
            <key>images/poker/laizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,312},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{687,687}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d10e65e0fa0f5e554ac7fd66dae783b6:70f6f62ebd305e0a121da9fab80312d3:7091b912c8b6d40e279854fb79f668a3$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
