<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,78}</string>
                <key>spriteSourceSize</key>
                <string>{134,78}</string>
                <key>textureRect</key>
                <string>{{1,1},{134,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,78}</string>
                <key>spriteSourceSize</key>
                <string>{134,78}</string>
                <key>textureRect</key>
                <string>{{137,1},{134,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,78}</string>
                <key>spriteSourceSize</key>
                <string>{134,78}</string>
                <key>textureRect</key>
                <string>{{273,1},{134,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,78}</string>
                <key>spriteSourceSize</key>
                <string>{134,78}</string>
                <key>textureRect</key>
                <string>{{409,1},{134,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,78}</string>
                <key>spriteSourceSize</key>
                <string>{134,78}</string>
                <key>textureRect</key>
                <string>{{545,1},{134,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,78}</string>
                <key>spriteSourceSize</key>
                <string>{134,78}</string>
                <key>textureRect</key>
                <string>{{681,1},{134,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,78}</string>
                <key>spriteSourceSize</key>
                <string>{134,78}</string>
                <key>textureRect</key>
                <string>{{817,1},{134,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,78}</string>
                <key>spriteSourceSize</key>
                <string>{134,78}</string>
                <key>textureRect</key>
                <string>{{953,1},{134,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,78}</string>
                <key>spriteSourceSize</key>
                <string>{134,78}</string>
                <key>textureRect</key>
                <string>{{1089,1},{134,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,78}</string>
                <key>spriteSourceSize</key>
                <string>{134,78}</string>
                <key>textureRect</key>
                <string>{{1225,1},{134,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{1718,1},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>delete.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,78}</string>
                <key>spriteSourceSize</key>
                <string>{134,78}</string>
                <key>textureRect</key>
                <string>{{1361,1},{134,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>retype.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,78}</string>
                <key>spriteSourceSize</key>
                <string>{134,78}</string>
                <key>textureRect</key>
                <string>{{1497,1},{134,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_join - 副本.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,49}</string>
                <key>spriteSourceSize</key>
                <string>{83,49}</string>
                <key>textureRect</key>
                <string>{{1633,1},{83,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>entertable.png</string>
            <key>size</key>
            <string>{1793,80}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0333dc73265d668818762f9931edd31e:4d2f44955063e1cbc2003b091949aebe:4686c03114637de06a3e5a49b2145443$</string>
            <key>textureFileName</key>
            <string>entertable.png</string>
        </dict>
    </dict>
</plist>
