<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_bag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,61}</string>
                <key>spriteSourceSize</key>
                <string>{133,61}</string>
                <key>textureRect</key>
                <string>{{1041,1},{127,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_mission.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{121,53}</string>
                <key>spriteSourceSize</key>
                <string>{123,53}</string>
                <key>textureRect</key>
                <string>{{505,1},{121,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_more.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{118,56}</string>
                <key>spriteSourceSize</key>
                <string>{120,58}</string>
                <key>textureRect</key>
                <string>{{662,1},{118,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,100}</string>
                <key>spriteSourceSize</key>
                <string>{119,100}</string>
                <key>textureRect</key>
                <string>{{560,1},{119,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{720,1},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_diamond_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{900,1},{80,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_diamond_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{978,75},{50,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,61}</string>
                <key>spriteSourceSize</key>
                <string>{72,61}</string>
                <key>textureRect</key>
                <string>{{978,1},{72,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_gold_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{720,1},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_gold_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1095,64},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_goldbean_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{86,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{812,1},{86,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_goldbean_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{52,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1041,64},{52,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{1,1},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{127,1},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{253,1},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{379,1},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon.png</string>
            <key>size</key>
            <string>{1169,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98585b494116dc577d7e04a135adfc5b:f90709ddbd96ecc11750d49a0c7ffde3:240848ad97db3b21fd898f16a7d3102d$</string>
            <key>textureFileName</key>
            <string>icon.png</string>
        </dict>
    </dict>
</plist>
